--- Day 1: Report Repair ---
After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456
In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

Your puzzle answer was 800139.

--- Part Two ---
The Elves in accounting are thankful for your help; one of them even offers you a starfish coin they had left over from a past vacation. They offer you a second one if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

Your puzzle answer was 59885340.

In [18]:
import pandas as pd

TARGET=2020

In [3]:
data=pd.read_csv('./data.txt', header=0, names=['invoice_amount'])

In [6]:
data=data.sort_values(by='invoice_amount')

In [42]:
%%time
answer_found=False
for i1, row1 in data.iterrows():
    for i2, row2 in data.iterrows():
        if row1['invoice_amount'] + row2['invoice_amount'] > TARGET:
            break
        for i3, row3 in data.iterrows():
            amount = row1['invoice_amount'] + row2['invoice_amount'] + row3['invoice_amount']
            if amount == TARGET:
                print(f"Answer is: {row1['invoice_amount']*row2['invoice_amount']*row3['invoice_amount']}")
                answer_found=True
                break
            elif amount > TARGET:
                break
        if answer_found:
            break
    if answer_found:
        break

Answer is: 59885340
CPU times: user 14.9 ms, sys: 609 µs, total: 15.5 ms
Wall time: 15 ms

In [25]:
CPU times: user 2.31 s, sys: 5.58 ms, total: 2.32 s
Wall time: 2.32 s
    
CPU times: user 106 ms, sys: 2.28 ms, total: 109 ms
Wall time: 107 ms
    
CPU times: user 69.2 ms, sys: 1.31 ms, total: 70.5 ms
Wall time: 69.4 ms
    
CPU times: user 8min 23s, sys: 796 ms, total: 8min 23s
Wall time: 8min 24s
    
Answer is: 59885340
CPU times: user 14.9 ms, sys: 609 µs, total: 15.5 ms
Wall time: 15 ms

SyntaxError: invalid syntax (<ipython-input-25-6974f4f733f5>, line 1)

In [33]:
data

     invoice_amount
147             131
81              285
55              359
181             434
185             458
..              ...
101            2002
132            2004
38             2006
43             2008
189            2010

[199 rows x 1 columns]